@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'freize';
  src: url('/fonts/freeze.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gistesy';
  src: url('/fonts/Gistesy.ttf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #00EEAE;
  --foreground: #171717;
  --primary: #292F4A
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


